<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor = "let product of product_list | async">
        <div class="card text-white bg-primary mb-3"
             style = "width: 50rem; margin: auto; cursor: pointer" [routerLink]="['/products', product._id]">
          <div class = "card-header">
            {{product.name}}
          </div>
          <div class="card-body">
            {{product.description}}
          </div>
          <div class="card-footer">
           Price: £{{product.price}}
            <br>
           Size: {{product.size}}
            <br>
            Type: {{product.type}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-light mb-3"
           style = "width: 50rem; margin:auto"
           *ngFor = "let review of reviews | async">
        <div class="card-header">
          Review by <span style="font-weight: bold">{{ review.username }}</span>
        </div>
        <div class="card-body">
          {{ review.comment }}
        </div>
        <div class="card-footer">
          {{ review.stars }} stars
        </div>
      </div>
    </div>
  </div>
</div>
